@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// colors
$wildsand: #f7f5f6;
$morningglory: #91c5df;
$curiousblue: #1e90d9;
$bermudagray: #616060;
$bayofmany: #274484;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

p,
h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  a {
    color: $bayofmany;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  .logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid $bermudagray;
    padding: 0 5px;
  }
  ul {
    display: flex;
    a {
      padding: 0 1rem;
    }
  }
}

.hero-wrapper {
  display: flex;
  background: $wildsand;
  padding: 3rem;
  width: 100%;
  justify-content: center;
  .hero-image {
    order: 2;
    width: 40%;
  }
  .hero-text-container {
    order: 1;
    width: 50%;
    padding: 2rem 0;
    text-align: left;
    h1 {
      max-width: 500px;
      font-size: 3rem;
      color: $bayofmany;
    }
    p {
      max-width: 600px;
      color: $bermudagray;
      margin-top: 24px;
      margin-bottom: 36px;
    }
    button {
      background: $curiousblue;
      color: white;
      border: none;
      font-size: 20px;
      font-weight: 500;
      padding: 12px 30px;
      border-radius: 10px;
      cursor: pointer;
      span {
        margin-left: 0.5rem;
      }
    }
  }
}

// .featured,
// .portfolio-container {
//   display: grid;
//   grid-template-columns: 40% auto;
// }

// .left,
// .portfolio-left {
//   display: grid;
//   place-content: center;
// }

// .right {
//   margin-left: 2rem;
//   margin-top: 1rem;
// }

.skills {
  margin-top: -5rem;
  padding-top: 7rem;
  background: $morningglory;
  h1 {
    font-size: 30px;
    font-weight: 700;
    color: $bermudagray;
    padding: 0 2rem;
    margin-top: -3rem;
    margin-bottom: 1rem;
  }
}

.skills-container ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1rem;
  padding: 0 2rem;
  li {
    background: $bayofmany;
    color: $wildsand;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: -5rem;
    .skills-icon {
      height: 100px;
      display: grid;
      place-content: center;
      margin: 0 auto;
      width: 80px;
    }
    .skill-title {
      font-weight: bold;
    }
    .skill-desc {
      margin-bottom: 2rem;
    }
  }
}

.portfolio {
  padding-top: 7rem;
  // background: $curiousblue;
}
// .portfolio-container img {
//   margin-left: 2rem;
// }

@media only screen and (max-width: 768px) {
  // header {
  // display: flex;
  // justify-content: space-between;
  // padding: 1rem;
  // .logo-text {
  //   font-weight: bold;
  // }
  // ul {
  //   display: flex;
  //   a {
  //     display: block;
  //     padding: 0 1rem;
  //   }
  // }
  // }

  // .hero-wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   .hero-text-container {
  //     order: 2;
  //     width: 100%;
  //     text-align: center;
  //     h1 {
  //       font-size: 20px;
  //     }
  //   }
  //   img {
  //     order: 1;
  //   }
  // }

  // section {
  //   padding: 4rem 2rem;
  //   text-align: left;
  // }

  // .subtitle {
  //   text-transform: uppercase;
  //   font-weight: bold;
  //   letter-spacing: 0.2rem;
  //   font-size: 0.85rem;
  // }

  // .featured-title {
  //   color: #333333;
  //   font-weight: bold;
  //   font-size: 1.3rem;
  //   display: block;
  // }

  // .featured-desc {
  //   margin-bottom: 1rem;
  //   font-size: 0.85rem;
  //   line-height: 1.8rem;
  //   font-weight: 500;
  // }

  // .portfolio {
  //   background: whitesmoke;
  // }

  // .portfolio-container a img {
  //   border-radius: 1rem;
  //   margin-bottom: 1rem;
  // }
}
